svg {
  font: 10px sans-serif;
}

tspan:last-child {
  font-size: 9px;
  fill-opacity: 0.7;
}

.title > p {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.top-container {
  height: 400px;
  width: 850px;
  display: block;
  margin: 0 auto;
  padding-top: 7px;
}

.bottom-container {
  height: 470px;
  width: 1200px;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}

#treeChoice {
  float: left;
  display: inline;
  width: 115px;
  margin: 20px auto;
}

#treeTitle {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

#treeMap {
  float: right;
  display: inline;
  width: 500px;
  margin: 0 auto;
  margin-right: 160px;
}

.sub-charts {
  display: inline-block;
  padding-top: 10px;
}

#obesityPie {
  height: 450px; 
  width: 375px;
  display: inline-block;
}

#cholesterolPie {
  height: 450px; 
  width: 375px;
  display: inline-block;
}

.sub-chart {
  width: 33%;
  display: inline-block;
}

#subChartLabel {
  float: right;
}

.bottom-container > .sub-charts > .sub-chart > label {
  text-align: center;
  font-weight: bold;
}


.white-text-with-blue-shadow {
  font: 1.5em Georgia, serif;
}


.treeTitle {
  font-weight: bold;
  font-size: 30px;
  font: 1.5em Georgia, serif;
  margin-right: 160px;
}

.hr { 
  border-width: 0px;
  background-color:#666;
  border: none;
  height: 360px;
  /*margin-left: 2px;*/
}


.shadow2 {
  font-weight: bold;
  font-size: 10px;
  font: 1.0em Georgia, serif;
}
